{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}Forum{% endblock %}</title>
    </head>
    <body >
        <h1>欢迎来到mini树洞！</h1>
        <div>
            {% if user.is_authenticated %}
                <strong>{{ user.username }}</strong>已登录~
            {% else %}
                纯路人QAQ
            {% endif %}
        </div>
        <ul class="nav" >
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'addposting' %}">我要发帖</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat' %}">我想聊聊</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/admin/">管理</a>
                </li>
                {% endif %}
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
